@import './utils/_typography.css';
@import './utils/_layout.css';
@import './utils/variables.css';

.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 24;
}

body{

}

img {
  width: clamp(150px, 101.4286px + 15.1786vw, 320px);
  height: clamp(150px, 101.4286px + 15.1786vw, 320px);
}

.bg-morning{
  background: var(--morning)
}

.bg-dusk{
  background: var(--dusk)
}

.bg-dawn{
  background: var(--dawn)
}

.bg-night{
  background: var(--night)
}

